/*global*/
:root{
    --primary: rgb(182, 92, 19);
    --secondary:rgb(16, 139, 16);
}
html{
    font-size: 62.5%;/*10px = 1 rem*/
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
img{
    max-width: 100%;
}
h2{
    text-align: center;
    margin: 1rem 0;
    font-size: 2.4rem;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width: 80%;
    margin:0 auto;
}
.btn{
    display: block;
    font-size: 16px;
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}
@media (max-width:768px){
    .flex-header{
        flex-direction: column;
    }  
    .flex-header-v{
        height: 20vh;
        text-align: center;
    }  
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    height: 40vh;
    background-size: cover;
    color: white;
}
.site-init-about{
    background-image: url(img/blog2.jpg);
    height: 40vh;
    background-size: contain;
    color: white;
    font-size: x-large;
}
.menu a{
    margin-right: 2rem;
}
.site-init p{
    font-size: 2rem;
    text-align: center;
    font-size: x-large;
}
.site-init-about p{
    font-size: 2rem;
    text-align: center;
    font-size: x-large;
}
.site-second{
    background-color: #222222;
    color: white;
}
.main-paragraph p{
    text-align: center;
}
@media (max-width:768px){
    .site-init{
        height: 22vh;
    }  
    .site-init p{
        font-size: 1.5rem;
    
    }  
}
/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:768px){
    .flex-about{
        flex-direction: column;
    }  
}
/*house item*/
.house-item{
    background-color: #dedede;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
}  
.house-item-text h3{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}  
.price{
    color: var(--secondary);
    font-weight: bold;
}    
/*contact form*/
.form-container{


}     
fieldset{
    padding: 1rem;
}     
legend,label,input{
    font-size: 1.6rem;
} 
.input-container{
    margin: 1rem;
} 
.input-container input,
.input-container text area{
    width: 70%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
} 
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}   
.img-announcement{
    margin: 10rem;

}   
.icon-text-style h3, p{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}   
.img-gallery{
    margin: 25rem;

}  
.about-text{
    text-align: center;
    font-size: x-large;
    margin: auto;

}    